<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
    Get help on the Ruby on rails Tutorial at the 
    <a href="http://www.railstutorial.org">Rails Tutorials Help page</a>.
</p>
<a href="https://google.com"><em>Google </em></a>

