<div class="center jumbotron">
    <h1>Sample App Amt</h1>
    
    <h2>
        This is the home page for my sample app. </br> </br>
        <a href="https://github.com/amtalucod">This is my link to my github account.</a>
        </br>
        
    </h2> 
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<img alt="Rails logo" width="200px" src="/assets/rails.png">
