<h1>Editing booking</h1>

<%= render "form", booking: @booking, hotel: @hotel %>

<br>

<div>
  <%= link_to "Show this booking", @booking %> |
  <%= link_to "Back to bookings", bookings_path %>
</div>
